* {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:aliceblue;
    font-family: fantasy;
    
}
html, body{
    font-size: 10px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
select {
    border: brown solid 2px;
    background: transparent;
    color: aliceblue; 
}
.index {
    font-size: 32px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    background-image: url(./pictures/sunset-sky-3.jpeg);
    background-size:cover;
    background-position: middle center;
    position: relative;
    z-index: 1;
}
.index::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: burlywood;
    opacity: .4;
    z-index: -1;
}
.index_title{
    animation: fadeIn_title 5s;
    font-size: 60px;
}
.index_menu {
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.index_menu1 {
    opacity: 0;
    animation: fadeIn_menu 2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
.index_menu2 {
    opacity: 0;
    animation: fadeIn_menu 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.index_menu3 {
    opacity: 0;
    animation: fadeIn_menu 2s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
.index_menu4 {
    opacity: 0;
    animation: fadeIn_menu 2s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;

}
.index_menu5 {
    opacity: 0;
    animation: fadeIn_menu 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn_title {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn_menu {
    0% {opacity: 0; transform: translateY(100%);}
    100% {opacity: 1; transform: translateY(0);}
}

.menu {
    top: 38%;
    position: fixed;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    animation: slide_up 1s;
    animation-fill-mode: forwards;
    z-index: 3;
}
.title {
    font-size: 60px;
    animation: slide_up_title 1s;
    animation-fill-mode: forwards;
    top: 50%;
    position: fixed;
    z-index: 3;
}
@keyframes slide_up {
    from {transform: translateY(0);}
    to {transform: translateY(-200px);}
}
@keyframes slide_up_title {
    from {transform: translateY(0);}
    to {transform: translateY(-250px);}
}

.content{
    opacity: 0;
    margin: 20px;
    z-index: 2;
    height: 40%;
    position: fixed;
    animation: content_fade .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    align-items: center;
    height: auto;
    width: auto;
}

#budget_content {
display: flex;
flex-direction: column;
height: 45%;
}

@keyframes content_fade {
    from {opacity: 0; transform: translateY(15px);}
    to {opacity: 100%; transform: translateY(0px);}
}

.small_button {
    background-color: brown;
    border: none;
    color: white;
    padding: 3px;
    border-radius: 8px;
}

textarea {
    border: brown solid 2px;
    width: 400px;
    height: 100px;
   color: aliceblue;
   background: transparent;
   
}

#entry {
    width: 400px;
    height: 100px;
    font-size: small;
}

.card {
    padding: 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: .3rem 0;
}

.dateTime {
   color: rgb(254, 209, 161);
}

#entry {
    white-space: pre-wrap;
}

.budget_entry {
    font-size: 12px;
}

.budget_items {
    width: 482px;
    align-items: left;
}
#budget_enter {
    display: flex;
    flex-basis: 20%;
}
#budget_enter label{
    font-size: small;
    display: flex;
    width: 482px;
    }
.budget_amount {
    width: 100px;
    height: 25px;
}
.budget_date {
    width: 100px;
    height: 25px;
    background: transparent;
    
}

.budget_graph {
    width: 500px;
    height: auto;
}


/*itinerary*/
.itinerary_enter label{
    display: flex;
}
.itin_date {
width: 100px;
height: 25px;
}
.itin_activity {
width: 100px;
height: 25px;
}
.itin_address {
width: 100px;
height: 25px;
}
